@model exeInventario.Models.Cad_Clientes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>

<h3>Deseja mesmo excluir?</h3>
<div>
    <h4>Cad_Clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Cli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Cli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telelfone_Cli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telelfone_Cli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Cli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Cli)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Cli" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
